<div style="overflow: auto">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th style="width: auto;">Numer materiału</th>
        <th>Nazwa</th>
        <th>Stan magazynowy</th>
        <th style="width: auto;">Kategoria</th>
        <th style="width: auto;">Dostawca</th>
        <th></th>
        <th></th>
        <th><fa-icon icon="shop-lock"></fa-icon></th>
        <th><a routerLink="/internal-order-cart" *ngIf="internalCartItemsCount > 0"><fa-icon icon="truck"></fa-icon></a></th>
      </tr>
      <tr>
        <th style="width: auto;">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialNumberFilter"
          />
        </th>
        <th style="width: auto;">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialNameFilter"
          />
        </th>
        <th></th>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialCategoryFilter"
          />
        </th>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialVendorFilter"
          />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let material of material$
            | filterBy
              : {
                  materialNumber: materialNumberFilter,
                  materialName: materialNameFilter,
                  materialCategory: { name: materialCategoryFilter },
                  materialVendor: { vendorName: materialVendorFilter }
                }
        "
      >
        <a [routerLink]="['/material', material.materialId]"><td class="align-middle">{{ material.materialNumber }}</td></a>
        <td class="align-middle">{{ material.materialName }}</td>
        <td class="align-middle">{{ material.materialQuantity }}</td>
        <td class="align-middle">{{ material.materialCategory.name }}</td>
        <td class="align-middle">{{ material.materialVendor.vendorName }}</td>
        <td class="button-container">
          <button (click)="addToCart(material)" class="btn btn-primary btn-sm">
            <fa-icon icon="plus"></fa-icon>
          </button>
          <button (click)="decrementQuantity(material)" class="btn btn-primary btn-sm">
            <fa-icon icon="minus"></fa-icon>
          </button>
        </td>
        <td class="button-container">
          <div class="d-flex flex-column">
            <button (click)="addToInternalCart(material)" class="btn btn-dark btn-sm mb-1">
              <fa-icon icon="plus"></fa-icon>
            </button>
            <button (click)="decrementInternalOrderQuantity(material)" class="btn btn-dark btn-sm">
              <fa-icon icon="minus"></fa-icon>
            </button>
          </div>
        </td>
        <td class="align-middle">
          <span *ngIf="getCartQuantity(material) > 0">{{ getCartQuantity(material) }}</span>
        </td>
        <td class="align-middle">
          <span *ngIf="getInternalCartQuantity(material) > 0">{{ getInternalCartQuantity(material) }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
