<div style="overflow: auto">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Numer materiału</th>
        <th>Nazwa</th>
        <th>Stan magazynowy</th>
        <th>Kategoria</th>
        <th>Dostawca</th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      <tr>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialNumberFilter"
          />
        </th>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialNameFilter"
          />
        </th>
        <th>
          <a routerLink="/create-material">
            <button  class="btn btn-primary btn-md mt-2">
              Utwórz materiał
            </button>
          </a>
        </th>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialCategoryFilter"
          />
        </th>
        <th>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="materialVendorFilter"
          />
        </th>
        <th>
          Zamów
        </th>
        <th>
          Zarezerwuj
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let material of material$
            | filterBy
              : {
                  materialNumber: materialNumberFilter,
                  materialName: materialNameFilter,
                  materialCategory: { name: materialCategoryFilter },
                  materialVendor: { vendorName: materialVendorFilter }
                }
        "
      >
      <a [routerLink]="['/material', material.materialId]"><td class="align-middle">{{ material.materialNumber }}</td></a>
        <td class="align-middle">{{ material.materialName }}</td>
        <td class="align-middle">{{ material.materialQuantity }}</td>
        <td class="align-middle">{{ material.materialCategory.name }}</td>
        <td class="align-middle">{{ material.materialVendor.vendorName }}</td>
        <td class="button-container">
          <button (click)="addToCart(material)" class="btn btn-primary btn-sm">
            <fa-icon icon="plus"></fa-icon>
          </button>
          <button class="btn btn-primary btn-sm">
            <fa-icon icon="minus"></fa-icon>
          </button>        
        
        </td>
        <td class="button-container">
          <button (click)="addToCart(material)" class="btn btn-dark btn-sm">
            <fa-icon icon="plus"></fa-icon>
          </button>
          <button class="btn btn-dark btn-sm">
            <fa-icon icon="minus"></fa-icon>
          </button>        
        </td>
      </tr>
    </tbody>
  </table>
</div>
