<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li class="menu-item" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> 
                <button class="btn btn-link btn-info parent-btn" routerLink="/material/" routerLinkActive="active-link">
                    Części zamienne
                </button>
                <div class="icon-container">
                    <a class="icon-button btn btn-info" routerLink="/create-material" title="Dodaj materiał">
                        <fa-icon icon="plus"></fa-icon>
                    </a>
                    <a class="icon-button btn btn-info" routerLink="/create-category" title="Dodaj kategorię">
                        <fa-icon icon="folder"></fa-icon>
                    </a>
                </div>
            </li>

            <li class="menu-item" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> 
                <button class="btn btn-link btn-info parent-btn" routerLink="/vendor/" routerLinkActive="active-link">
                    Dostawcy
                </button>
                <div class="icon-container">
                    <a class="icon-button btn btn-info" routerLink="/create-vendor" title="Settings">
                        <fa-icon icon="plus"></fa-icon>
                    </a>
                </div>
            </li>

            <li class="menu-item" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> 
                <button class="btn btn-link btn-info parent-btn" routerLink="/orders/" routerLinkActive="active-link">
                    Zamówienia
                </button>
            </li>

            <li class="menu-item" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> 
                <button class="btn btn-link btn-info parent-btn" routerLink="/internal-orders/" routerLinkActive="active-link">
                    Wewnętrzne zamówienia
                </button>
            </li>

            <li class="menu-item" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> 
                <button class="btn btn-link btn-info parent-btn" routerLink="/users/" routerLinkActive="active-link">
                    Użytkownicy
                </button>
                <div class="icon-container">
                    <a class="icon-button btn btn-info" routerLink="/signup" title="Settings">
                        <fa-icon icon="plus"></fa-icon>
                    </a>
                </div>
            </li>

        </ul>
    </nav>
</div>
