<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li> 

                <a routerLink="/material/" routerLinkActive="active-link">
                    Części zamienne
                </a>
                <a routerLink="/vendor/" routerLinkActive="active-link">
                    Dostawcy
                </a>
                <a routerLink="/orders/" routerLinkActive="active-link">
                    Zamówienia
                </a>
                <a routerLink="" routerLinkActive="active-link">
                    Link
                </a>

            </li>
        
        </ul>
    </nav>
</div>