<div class="detail-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <th>Numer materiału</th>
              <td>{{ material.materialNumber }}</td>
            </tr>
            <tr>
              <th>Producent</th>
              <td>{{ material.materialManufacturer }}</td>
            </tr>
            <tr>
              <th>Nazwa</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialName }}</span>
                <input
                  [(ngModel)]="materialPayload.materialName"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>Cena</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialPrice }}</span>
                <input
                  [(ngModel)]="materialPayload.materialPrice"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>Miejsce Magazynowe</th>
              <td>
                {{ material.materialLocation }}
                <input
                  [(ngModel)]="materialPayload.materialLocation"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>Ilość</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialQuantity }}</span>
                <input
                  [(ngModel)]="materialPayload.materialQuantity"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>Jednostka miary</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.unitOfMeasure }}</span>
                <input
                  [(ngModel)]="materialPayload.unitOfMeasure"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>EAN</th>
              <td>{{ material.materialEAN }}</td>
            </tr>
            <tr>
              <th>Data utworzenia</th>
              <td>{{ material.materialCreated | date }}</td>
            </tr>
            <tr>
              <th>Minimalny stan magazynowy</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialSafetyStock }}</span>
                <input
                  [(ngModel)]="materialPayload.materialSafetyStock"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
            <tr>
              <th>Opis</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialDescription }}</span>
                <input
                  [(ngModel)]="materialPayload.materialDescription"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <th>Kategoria</th>
              <td>{{ material.materialCategory?.name }}</td>
            </tr>
            <tr>
              <th>Dostawca</th>
              <td>
                <span *ngIf="isEditMode == false">{{ material.materialVendor?.vendorName }}</span>
                <select
                  [(ngModel)]="materialPayload.materialVendor"
                  [disabled]="!isEditMode"
                  *ngIf="isEditMode"
                >
                  <option *ngFor="let vendor of vendors" [value]="vendor">
                    {{ vendor?.vendorName }}
                  </option>
                </select>
                <button *ngIf="isEditMode" class="btn btn-secondary btn-sm" (click)="editVendor()">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th>Status</th>
              <td>
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="toggleStatus()"
                >
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-toggle-on': material.materialStatus,
                      'fa-toggle-off': !material.materialStatus
                    }"
                  ></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          *ngIf="!isEditMode"
          (click)="toggleEditMode()"
          class="btn btn-primary btn-sm"
        >
          Edytuj
        </button>
        <button
          *ngIf="isEditMode"
          (click)="saveChanges()"
          class="btn btn-success btn-sm"
        >
          Zapisz
        </button>
        <button
          *ngIf="isEditMode"
          (click)="cancelChanges()"
          class="btn btn-secondary btn-sm"
        >
          Anuluj
        </button>
        <button (click)="addToCart()" class="btn btn-primary btn-sm">
          Dodaj do zamówienia
        </button>
        <a routerLink="/material" class="mt-5">Powrót do listy materiałów</a>
      </div>
    </div>
  </div>
</div>

