<footer class="bg-light text-center text-white">
    <div class="container">
      <span class="text-black">
        Aplikacja stworzona przez Krzysztof Chwedziak jako projekt pracy
        inżynierskiej
      </span>
  
      <section class="mb-4">
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca"
          href="https://www.linkedin.com/in/krzysztof-chwedziak/"
          role="button"
          target="_blank"
        >
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
  
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333"
          href="https://github.com/chwedziak95"
          role="button"
          target="_blank"
        >
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </section>
    </div>
  </footer>
  